[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "script"]
	path = script
	url = git@github.com:isbrqu/script.git
[submodule "vim"]
	path = vim
	url = git@github.com:isbrqu/vim.git
